In [2]:

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Set to display all the rows in dataset

pd.set_option("display.max_rows", None)

# Import psql to run queries 

import pandasql as psql
from pandasql import sqldf

In [3]:
# Read the claims data

claimsds = pd.read_csv(r"C:\Users\NIKITHA PAGADALA\Downloads\Claims_Practice_V1.0.csv", header=0)

# Create back-up file

claimsds_bk = claimsds.copy()

# Display first 5 records

claimsds.head()

,Policy_Num,Claim_Dt,Accident_Dt,Claim_Amt,Policy_Type,Gender,State,Claims_FB
0,193064198,10/5/2019,9/21/2019,995.41,Truck,Female,CA,very_good
1,184583553,1/23/2019,1/14/2019,1096.28,Car,Male,CA,very_good
2,190848083,2/1/2019,1/19/2019,1339.15,Truck,Female,CA,neutral
3,190871786,11/11/2019,11/6/2019,1276.47,Car,Male,CA,good
4,197539028,10/3/2019,9/5/2019,881.59,Van,Male,NV,very_good

In [4]:

claimsds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63976 entries, 0 to 63975
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Policy_Num   63976 non-null  int64
 1   Claim_Dt     63976 non-null  object
 2   Accident_Dt  63976 non-null  object
 3   Claim_Amt    63976 non-null  float64
 4   Policy_Type  63976 non-null  object
 5   Gender       63976 non-null  object
 6   State        63976 non-null  object
 7   Claims_FB    63976 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.9+ MB

In [5]:
# Change the date (object to date format) fields in claims dataset

#claimsds['Claim_Dt'] = pd.to_datetime(claimsds['Claim_Dt'], format='%Y-%m-%d')
#claimsds['Accident_Dt'] = pd.to_datetime(claimsds['Accident_Dt'], format='%Y-%m-%d')
from dateutil.parser import parse
claimsds["Claim_Dt"] = claimsds["Claim_Dt"].apply(lambda x: parse(x))
claimsds["Accident_Dt"] = claimsds["Accident_Dt"].apply(lambda x: parse(x))

In [6]:
claimsds['Date_Diff'] = claimsds['Claim_Dt'].sub(claimsds['Accident_Dt'], axis=0)

In [7]:
claimsds['Date_Diff1'] = (claimsds['Claim_Dt'] - claimsds['Accident_Dt']).dt.days

In [8]:
# Display variables data type
print(claimsds.dtypes)

Policy_Num               int64
Claim_Dt        datetime64[ns]
Accident_Dt     datetime64[ns]
Claim_Amt              float64
Policy_Type             object
Gender                  object
State                   object
Claims_FB               object
Date_Diff      timedelta64[ns]
Date_Diff1               int64
dtype: object

In [9]:
#Identify the missing values 

claimsds.isna().sum()

Policy_Num     0
Claim_Dt       0
Accident_Dt    0
Claim_Amt      0
Policy_Type    0
Gender         0
State          0
Claims_FB      0
Date_Diff      0
Date_Diff1     0
dtype: int64

In [10]:
# claims amount is converting into Ranges and new column as 'Claims_Range'

claimsds['Claims_Range'] = pd.cut(claimsds['Claim_Amt'], [0, 800, 1000, 1200, 1400], 
                                  labels=['0-800', '801-1000', '1001-1200', '>1201'])

In [11]:
# Count by the categorical variables of Claims_Range

claimsds['Claims_Range'].value_counts()

Claims_Range
801-1000     21397
1001-1200    21276
>1201        17589
0-800         3714
Name: count, dtype: int64

In [12]:
# Count by the categorical variables of Policy_Type

claimsds['Policy_Type'].value_counts()

Policy_Type
Car      29186
Van      19803
Truck    14987
Name: count, dtype: int64

In [13]:
# Aggregate function - sum

Total_Claims_Amount = claimsds['Claim_Amt'].sum()
print('Total_Claims_Amount:', Total_Claims_Amount)

Total_Claims_Amount: 68149174.54

In [14]:
# Descriptive Statistics - mean

Claims_Amount_Mean = claimsds['Claim_Amt'].mean()
print('Claims_Amount_Mean:', Claims_Amount_Mean)

Claims_Amount_Mean: 1065.2303135550833

In [15]:
# Aggregate function - max

Claim_Amount_Max = claimsds['Claim_Amt'].max()
print('Claim_Amount_Max:', Claim_Amount_Max )

Claim_Amount_Max: 1370.05

In [16]:
# Aggregate function - count

Total_Count = claimsds['Claim_Amt'].count()
print('Total_Count:', Total_Count)

Total_Count: 63976

In [17]:
# Descriptive Statistics - median

claimsds['Claim_Amt'].median()

1066.125

In [18]:
# Aggregate function - min

Claim_Amount_Min = claimsds['Claim_Amt'].min()
print('Claim_Amount_Min:', Claim_Amount_Min)

Claim_Amount_Min: 760.35

In [19]:
# Descriptive Statistics - mode

claimsds['Claim_Amt'].mode()

0    1323.26
Name: Claim_Amt, dtype: float64

In [20]:
# Descriptive Statistics - std

claimsds['Claim_Amt'].std()

173.18293411940817

In [21]:
# Dispalys statistical information of the dataset

claimsds['Claim_Amt'].describe()

count    63976.000000
mean      1065.230314
std        173.182934
min        760.350000
25%        914.925000
50%       1066.125000
75%       1215.032500
max       1370.050000
Name: Claim_Amt, dtype: float64

In [22]:
# Descriptive Statistics - var

claimsds['Claim_Amt'].var()

29992.328670207273

In [23]:
# Creating variable as a 'month' 

claimsds['Month'] = claimsds['Accident_Dt'].dt.month

In [24]:
# Creating new variable "Day_Name"

claimsds['DayName'] = claimsds['Accident_Dt'].dt.strftime('%A')

In [25]:
# Creating new variable "Month_Name"
    
claimsds['MonthName'] = claimsds['Accident_Dt'].dt.month_name()

In [26]:
# Calculate the Claims amount by monthwise

Claims_Monthly = claimsds.groupby('Month', as_index=False).agg({'Claim_Amt': 'sum'})
Claims_Monthly

    Month   Claim_Amt
0       1  4667539.73
1       2  4608789.95
2       3  4300278.16
3       4  4050460.51
4       5  5506535.32
5       6  6280436.97
6       7  6146311.74
7       8  5988960.54
8       9  6414716.54
9      10  7220960.87
10     11  7044322.54
11     12  5919861.67

In [27]:
# Calculate the Claims amount by monthwise

Claims_Monthly1 = claimsds.groupby('MonthName', as_index=False).agg({'Claim_Amt': 'sum'})
Claims_Monthly1

    MonthName   Claim_Amt
0       April  4050460.51
1      August  5988960.54
2    December  5919861.67
3    February  4608789.95
4     January  4667539.73
5        July  6146311.74
6        June  6280436.97
7       March  4300278.16
8         May  5506535.32
9    November  7044322.54
10    October  7220960.87
11  September  6414716.54